<h1>Add a New Contact</h1>
<form action="/add_a_new_contact" method="post">
  <div class='form-group'>
    <label for="first_name">First name:</label>
    <input id="first_name" name="first_name" type="text" class='form-control'>
    <label for="last_name">Last name:</label>
    <input id="last_name" name="last_name" type="text" class='form-control'>
    <label for="birthday">Birthday:</label>
    <input id="birthday" name="birthday" type="text" class='form-control'>
  </div>
  <button id="submit_contact" type="submit" class='btn-primary btn'>Add Contact</button>
</form>

<form action="/all_contacts" method="get">
  <button id="return" type="submit" class='btn-primary btn'>Return to All Contacts</button>
</form>
